@font-face {
    /*Font from http://glyphicons.com*/
    font-family: 'Glyphicons Halflings';

    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    background-color: #ddd;
    background-image: url("images/wood1.png");
    background-repeat: repeat;
    padding: 10px 0 300px;
    font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #900;
}

blockquote {
    position: relative;
    background-color: rgba(170, 200, 160, 0.7);
    margin: 1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.25em 1em;
    box-shadow: 0 3px 3px 3px #bbb;
}

blockquote::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border: 0.5em solid;
    border-color: black #cec #cec black;
}

div {
    width: 90%;
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 15px;
}

body > div {
    background-color: #fff;
    background-image: url("images/parchment3.png");
    background-repeat: repeat;
}

a {
    color: #00e;
}

p {
    text-indent: 1em;
    margin: 0.25em;
}

img {
    border-radius: 15px;
    max-height: 500px;
    width: auto;
}

li:empty {
    list-style: none outside;
}

table {
    width: 100%;
    margin: 0.5em 0;
}

tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    min-width: 20px;
    max-width: 400px;
    vertical-align: top;
    padding: 0 5px;
}

.head-row {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.right {
    float: right;
}

.button {
    background-color: #ddd;
    padding: 3px;
    margin: 1px;
    border: 2px outset #555;
    border-radius: 10px;
}

.button:active {
    border-style: inset;
}

.spell-box > div {
    border: 1px solid #ddd;
    width: 98%;
    padding: 0 3px;
    /*background-color: #ffd;*/
}

.index a {
    color: black;
}

.index li,
.index li * {
    margin: 0px;
    color: #455;
}

.search-box {
    position: relative;
    padding: 5px;
    margin: 5px auto;
}

.search-box p {
    text-indent: 0;
    margin: 1em 0;
}

.search-box .right {
    position: absolute;
    top: 5px;
    right: 5px;
    float: none;
}

/*Flexbox section*/
.flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row nowrap;
}

#filter-block {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.nav {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.nav > :last-child:not(:only-child) {
    margin-left: auto;
}

.collapse-details {
    color: black;
    text-decoration: none;
}
/*end flexbox*/

/* Monsters */
.monster-box {
    background-color: rgba(210, 170, 100, 0.5);
    border: 0;
    position: relative;
}

.monster-box::before, .monster-box::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    background-color: rgb(210, 170, 100);
    border: 1px solid black;
    height: 5px;
}

.monster-box::before {
    top: 0;
}

.monster-box::after {
    bottom: 0;
}

.monster-box > hr {
    height: 5px;
    margin: 0.5em 0;
    border: 0;
    background: -webkit-linear-gradient(left, #900, transparent);
    background: -moz-linear-gradient(left, #900, transparent);
    background: -o-linear-gradient(left, #900, transparent);
    background: linear-gradient(left, #900, transparent);
}

.monster-stats {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.monster-stats strong {
    display: block;
}
/* end monsters */

/* Accordions */
.accordion > dt > *,
.accordion > * {
    margin: 0;
    padding: 0;
}

.accordion > dt > * {
    display: inline-block;
}

.accordion > h1,
.accordion > h2,
.accordion > h3,
.accordion > h4,
.accordion > h5,
.accordion > h6 {
    font-size: 1em;
}

.accordion > hr {
    margin: 0.5em auto;
}

.accordion > dt {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.4s;
}

.accordion > dt::before {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    content: '\e259';
    margin-right: 5px;
    transition: 1s;
}

.accordion > dt.dt-open::before {
    transform: rotate3d(1, 0, 0, 180deg);
}

.accordion > dd {
    border-bottom: 1px solid black;
    margin-left: 40px;
}

/* Possible swing animation for details
.accordion > dd {
    transition: 0.4s;
    transform-origin: 50% 0%;
}

.accordion > dd.dd-closed {
    transform: rotate3d(1, 0, 0, -90deg);
    height: 0;
}*/
/* end accordions */

@media only screen
and (max-device-width : 1000px) {
    /*Tablets*/
    html {
        font-size: 1.5em;
    }
}

@media only screen
and (max-device-width : 600px) {
    /*Phones*/
    html {
        font-size: 2em;
    }
}
