div {
    width: 80%;
    margin: 0px auto;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
}

table {
    width: 100%;
    background-color: #fff;
}

/*#items-div tbody > tr:nth-child(even) {
    background-color: #6da;
}*/

div#items-div th[colspan] {
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 5px;
}

div#items-div td[colspan] > details > summary {
    text-align: center;
    background-color: #000;
    color: #fff;
}

@media only screen
and (max-device-width : 736px) {
    div {
        width: auto;
        padding: 15px;
    }
}
