{% extends "dnd-base.html" %}
{% block meta %}
    <meta name="viewport" content="width=device-width">
{% endblock %}
{% block title %}D&amp;D Character Sheet{% endblock %}
{% block content %}
{% set stats = [
    "str",
    "dex",
    "con",
    "int",
    "wis",
    "cha"
] %}
{% set skills = [
    "strsave",
    "dexsave",
    "consave",
    "intsave",
    "wissave",
    "chasave",
    "acrobatics",
    "animal-handling",
    "arcana",
    "athletics",
    "deception",
    "history",
    "insight",
    "intimidation",
    "investigation",
    "medicine",
    "nature",
    "perception",
    "performance",
    "persuasion",
    "religion",
    "sleight-of-hand",
    "stealth",
    "survival"
] %}
{% set notcircular = look != 'circular' %}
<div id="controls" class="nav">
    <a class="home button" href="{{ url_for('.index') }}">Home</a>
    <input id="fileselect" class="button" type="file" name="files[]">
    <a id="save" class="button">Save</a>
</div>
<div id="body">
    {% include
        "character_sheet_standard.html"
    if notcircular else
        "character_sheet_circular.html"
    %}
</div>
<div id="instructions" style="display: none">
    <p>To use the Jack of all Trades or Expertise features simply type the feature into the features box. For example:</p>
<pre>
Jack of all Trades
Expertise: Investigation
Expertise: Perception
</pre>
    <p>would give jack of all trades and expertise in investigation and perception. Capitalization does not matter.</p>
    <p>List of skills: (* means any skill name)</p>
    <ul>
        <li>Expertise: *</li>
        <li>Jack of All Trades</li>
        <li>Remarkable Athlete</li>
    </ul>
</div>
{% endblock %}
