<div id="main-sheet">
    <img id="main-img" alt="character sheet">
    <input id="name" class="save">
    <input id="alignment" class="save">
    <input id="race" class="save">
    <input id="class" class="save">
    <input id="gender" class="save">
    <input id="hair" class="save">
    <input id="eyes" class="save">
    <input id="size" class="save">
    <input id="height" class="save">
    <input id="weight" class="save">
    <input id="experience" class="save">
    <input id="level" class="save">
    <input id="next-level" class="save">
    <input id="initiative" class="save">
    <textarea id="languages" class="save"></textarea>
    <input id="speed" class="save">
    <input id="vision" class="save">
    {% for stat in stats %}
    <input type="number" id="{{ stat }}" class="save" value="10">
    <output id="{{ stat }}mod"></output>
    {% endfor %}
    {% for type in ['attack', 'spell'] %}
    {% for i in range(1, 4+1) %}
    <input id="{{ type }}-{{ i }}-name" class="save">
    <input id="{{ type }}-{{ i }}-bonus" class="save">
    <input id="{{ type }}-{{ i }}-damage" class="save">
    {% if type != 'spell' %}
    <input id="{{ type }}-{{ i }}-type" class="save">
    {% endif %}
    {% endfor %}
    {% endfor %}
    <textarea id="features" class="save"></textarea>
    <textarea id="traits" class="save"></textarea>
    {% for lvl in range(1, 9+1) %}
    <input id="slots-total-{{ lvl }}" class="save">
    <input id="slots-expended-{{ lvl }}" class="save">
    {% endfor %}
    <label id="spellcasting-ability-container">
        <input id="spellcasting-ability" class="save">
    </label>
    <input id="spell-save" class="save">
    <label id="spell-attack-container">
        <input id="spell-attack" class="save">
    </label>
    {% for currency in ["cp", "sp", "ep", "gp", "pp"] %}
    <input id="{{ currency }}" class="save">
    {% endfor %}
    <input id="max-hp" class="save">
    <textarea id="current-hp" class="save"></textarea>
    <input id="total-hit-dice" class="save">
    <textarea id="hit-dice" class="save"></textarea>
    <input id="ac" class="save">
    <input id="ac-no-armor" class="save">
    {% for lvl in ["cantrips", 1, 2, 3, 4, 5, 6, 7, 8, 9] %}
    <input id="spell-list-{{ lvl }}" class="save">
    {% endfor %}
    <textarea id="prepared-spells" class="save"></textarea>
    <input type="number" id="proficiency" class="save" value="2">
    <div id="saving-throws">
        {% for skill in skills[:6] %}
        <label>
            {{ skill.replace('-', ' ').upper() }}
            <input type="checkbox" id="{{ skill }}" class="save">
        </label>
        <input type="hidden" id="{{ skill }}-value" class="save">
        {% endfor %}
    </div>
    <textarea id="proficiencies" class="save"></textarea>
    <div id="skills">
        {% for skill in skills[6:] %}
        <label>
            {{ skill.replace('-', ' ').upper() }}
            <input type="checkbox" id="{{ skill }}" class="save">
        </label>
        <input type="hidden" id="{{ skill }}-value" class="save">
        {% endfor %}
    </div>
</div>
<div id="equipment-sheet">
    <img id="equipment-img" alt="equipment sheet">
    <input id="helmet" class="save">
    <textarea id="helmet-info" class="save"></textarea>
    <input id="chestpiece" class="save">
    <textarea id="chestpiece-info" class="save"></textarea>
    <input id="bracer" class="save">
    <textarea id="bracer-info" class="save"></textarea>
    <input id="glove" class="save">
    <textarea id="glove-info" class="save"></textarea>
    <input id="belt" class="save">
    <textarea id="belt-info" class="save"></textarea>
    <input id="boot" class="save">
    <textarea id="boot-info" class="save"></textarea>
    <textarea id="treasure-1" class="save"></textarea>
    <textarea id="treasure-2" class="save"></textarea>
    <input id="potion-1" class="save">
    <textarea id="potion-1-info" class="save"></textarea>
    <input id="potion-2" class="save">
    <textarea id="potion-2-info" class="save"></textarea>
    {% for i in range(1, 4+1) %}
    <input type="checkbox" id="potion-1-{{ i }}" class="save">
    <input type="checkbox" id="potion-2-{{ i }}" class="save">
    {% endfor %}
    <input id="ammo" class="save">
    <input id="torch" class="save">
    {% for i in range(1, 12+1) %}
    <input type="checkbox" id="ammo-{{ i }}" class="save">
    <input type="checkbox" id="torch-{{ i }}" class="save">
    {% endfor %}
    <textarea id="feats" class="save"></textarea>
    <textarea id="notes" class="save"></textarea>
    <textarea id="backgrounds" class="save"></textarea>
</div>
