<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% for s in styles %}
    <link rel="stylesheet" type="text/css" href="{{ s }}">
    {% endfor %}
    {% for j in javascript %}
    <script src="{{ j }}"></script>
    {% endfor %}
    {% block meta %}
    {% endblock %}
    {% if reload %}
    <meta http-equiv="refresh" content="3">
    {% endif %}
    {% endblock %}
</head>
<body>
    {% if home or collapse_details %}
    <nav>
        {% if home %}
        <a class="home button" href="{{ url_for('.index') }}">Home</a>
        {% endif %}
        {% if collapse_details %}
        <a class="collapse-details button" onclick="$('.collapse').collapse('hide');">Collapse All</a>
        {% endif %}
    </nav>
    {% endif %}
    {% block content %}{{ content|safe }}{% endblock %}
</body>
</html>
