{% extends "dnd-base.html" %}
{% set charsheets = ["Angular", "Circular"] %}
{% block content %}
<div class="home">
    {% if filters %}
    <p id="filter-block">
        Filter: 
        <select id="filter">
            <option>-</option>
            {% for item in filters %}
            <option>{{ item }}</option>
            {% endfor %}
        </select>
    </p>
    {% endif %}
    <h1>{{ title }}</h1>
    <h2><a href="{{ url_for('character_sheet', filter=filter) }}">Character Sheet</a></h2>
    {% if charsheets %}
    <ul>
        {% for item in charsheets %}
        <li><a href="{{ url_for('character_sheet', look=item, **query) }}">{{ item }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
    <h2><a href="http://dnd.wizards.com/articles/features/basicrules" target="_blank">Basic Rules</a></h2>
    <hr>
    {% if classes %}
    <h2><a href="{{ url_for('class_home', **query) }}">Classes</a></h2>
    <ul>
        {% for item in classes %}
        <li><a href="{{ url_for('class_page', name=item, **query) }}">{{ item }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}
    {% if races %}
    <h2><a href="{{ url_for('race_home', **query) }}">Races</a></h2>
    <ul>
        {% for item in races %}
        <li><a href="{{ url_for('race_page', name=item, **query) }}">{{ item }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}
    <h1>Reference Databases</h1>
    <h2><a href="http://crobi.github.io/dnd5e-quickref/preview/quickref.html" target="_blank">Actions &amp; Conditions</a></h2>
    {% if backgrounds %}
    <h2><a href="{{ url_for('background_page', **query) }}">Backgrounds</a></h2>
    {% endif %}
    {% if spells %}
    <h2><a href="{{ url_for('spell_page', **query) }}">Spells</a></h2>
    {% endif %}
    {% if feats or boons %}
    <h2><a href="{{ url_for('feat_page', **query) }}">Feats</a></h2>
    {% if boons %}
    <ul>
        <li><a href="{{ url_for('feat_page', _anchor='epic-boons', **query) }}">Epic Boons</a></li>
    </ul>
    {% endif %}
    {% endif %}
    {% if items %}
    <h2><a href="{{ url_for('item_page', **query) }}">Items</a></h2>
    {% endif %}
    {% if magicitems %}
    <h2><a href="{{ url_for('magicitem_page', **query) }}">Magic Items</a></h2>
    {% endif %}
    {% if documentation %}
    <hr>
    <h1>Rules</h1>
    <h2><a href="{{ url_for('document_page', document='character-progression', **query) }}">Character Progression</h2>
    <h2><a href="{{ url_for('document_page', document='character-details', **query) }}">Character Details</a></h2>
    <h2><a href="{{ url_for('document_page', document='expenses', **query) }}">Expenses</a></h2>
    <h2><a href="{{ url_for('document_page', document='abilities', **query) }}">Ability Scores</a></h2>
    <h2><a href="{{ url_for('document_page', document='adventuring', **query) }}">Adventuring</a></h2>
    <h2><a href="{{ url_for('document_page', document='combat', **query) }}">Combat</a></h2>
    <h2><a href="{{ url_for('document_page', document='multiclassing', **query) }}">Multiclassing</a></h2>
    {% endif %}
    {% if optionalrules %}
    <hr>
    <h1>Optional Rules</h1>
    <ul>
        {% for rule in optionalrules %}
        <li><a href="{{ url_for('optionalrule_page', rule=rule, **query) }}">{{ rule }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
