{% extends "dnd-base.html" %}
{% set charsheets = ["Angular", "Circular"] %}
{% block content %}
<section class="index">
    {% if filters %}
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="filterMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
        </button>
        <ul id="filter" class="dropdown-menu" aria-labelledby="filterMenuButton">
            <li class="dropdown-item"><a href="?filter=">-</a></li>
            {% for item in filters %}
            <li class="dropdown-item"><a href="?filter={{ item.replace(' ', '%20') }}">{{ item }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="flex">
        <div>
            <h1>{{ title }}</h1>
            <h2><a href="{{ url_for('character_sheet') }}">Character Sheet</a></h2>
            {% if charsheets %}
            <ul>
                {% for item in charsheets %}
                <li><a href="{{ url_for('character_sheet', look=slug(item)) }}">{{ item }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            <h1>External Links</h1>
            <h2><a href="http://dnd.wizards.com/articles/features/basicrules" target="_blank">Basic Rules</a></h2>
            <h2><a href="http://crobi.github.io/dnd5e-quickref/preview/quickref.html" target="_blank">Actions &amp; Conditions</a></h2>
        </div>
    </div>
    <hr>
    <h1>Reference Databases</h1>
    <div id="reference" class="flex">
        {% if classes %}
        <div>
            <h2><a href="{{ url_for('subpage', type='Classes') }}">Classes</a></h2>
            <ul>
                {% for item in classes %}
                <li><h3><a href="{{ url_for('subthing', name=slug(item), type='Classes') }}">{{ item }}</a></h3></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if races %}
        <div>
            <h2><a href="{{ url_for('subpage', type='Races') }}">Races</a></h2>
            <ul>
                {% for item in races %}
                <li><h3><a href="{{ url_for('subthing', name=slug(item), type='Races') }}">{{ item }}</a></h3></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if backgrounds or spells or feats or boons or items or monsters or magicitems %}
        <div>
            <h2>Other</h2>
            {% if backgrounds %}
            <h2><a href="{{ url_for('list_page', type='Backgrounds') }}">Backgrounds</a></h2>
            {% endif %}
            {% if spells %}
            <h2><a href="{{ url_for('list_page', type='Spells') }}">Spells</a></h2>
            {% endif %}
            {% if feats or boons %}
            <h2><a href="{{ url_for('list_page', type='Feats') }}">Feats</a></h2>
            {% if boons %}
            <ul>
                <li><h3><a href="{{ url_for('list_page', type='Feats', _anchor=slug('Epic Boons')) }}">Epic Boons</a></h3></li>
            </ul>
            {% endif %}
            {% endif %}
            {% if items %}
            <h2><a href="{{ url_for('list_page', type='Items') }}">Items</a></h2>
            {% endif %}
            {% if monsters %}
            <h2><a href="{{ url_for('list_page', type='Monsters') }}">Monsters</a></h2>
            {% if monsters.groups %}
            <ul>
                <li><h3><a href="{{ url_for('groups_page', type='Monsters') }}">Monster Groups</a></h3></li>
            </ul>
            {% endif %}
            {% endif %}
            {% if magicitems %}
            <h2><a href="{{ url_for('list_page', type='Magic Items') }}">Magic Items</a></h2>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <hr>
    <div id="rules" class="flex">
        <div>
            <h1>Rules</h1>
            {% if documentation %}
            <ul>
                {% for rule in documentation %}
                <li><h3><a href="{{ url_for('subthing', name=slug(rule), type='Documentation') }}">{{ rule }}</a></h3></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% if optionalrules %}
        <div>
            <h2>Optional Rules</h2>
            <ul>
                {% for rule in optionalrules %}
                <li><h3><a href="{{ url_for('subthing', name=slug(rule), type='Optional Rules') }}">{{ rule }}</a></h3></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
