{% extends "dnd-base.html" %}
{% block meta %}
<style>
p.filter {
    float:right;
}
</style>
<script>
function getQuery(){
    var obj = {};
    if (window.location.search.length > 0){
        window.location.search.slice(1).split('&').forEach(function(item){
            var key = item.split('=', 2);
            var value = key[1];
            key = key[0];
            obj[key] = value
        });
    }
    return obj;
}

var query;

window.onload = function(){
    var elem = document.getElementById("filter");
    query = getQuery();
    if (query.hasOwnProperty('filter')){
        elem.value = query['filter'];
    }
    elem.addEventListener('change', function(){
        if (this.value != '-'){
            window.location.search = 'filter=' + this.value;
        } else {
            window.location.search = '';
        }
    });
};
</script>
{% endblock %}
{% block content %}
<div>
    <p class="filter">
        Filter: 
        <select id="filter">
            <option>-</option>
            {% for item in filters %}
            <option value="{{ item[1] }}">{{ item[0] }}</option>
            {% endfor %}
        </select>
    </p>
    <h1>{{ title }}</h1>
    <h2><a href="{{ charsheet }}">Character Sheet</a></h2>
    <hr>
    <h2><a href="http://dnd.wizards.com/articles/features/basicrules" target="_blank">Basic Rules</a></h2>
    <hr>
    {% if classes %}
    <h2><a href="{{ classlink }}">Classes</a></h2>
    <ul>
        {% for item in classes %}
        <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}
    {% if races %}
    <h2><a href="{{ racelink }}">Races</a></h2>
    <ul>
        {% for item in races %}
        <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}
    <h1>Reference Databases</h1>
    <h2><a href="http://crobi.github.io/dnd5e-quickref/preview/quickref.html" target="_blank">Actions &amp; Conditions</a></h2>
    {% if backgrounds %}
    <h2><a href="backgrounds{{ query }}">Backgrounds</a></h2>
    {% endif %}
    {% if spells %}
    <h2><a href="spells{{ query }}">Spells</a></h2>
    {% endif %}
    {% if feats or boons %}
    <h2><a href="feats{{ query }}">Feats</a></h2>
    {% if boons %}
    <ul>
        <li><a href="feats#epic-boons{{ query }}">Epic Boons</a></li>
    </ul>
    {% endif %}
    {% endif %}
    {% if items %}
    <h2><a href="items{{ query }}">Items</a></h2>
    {% endif %}
    {% if magicitems %}
    <h2><a href="magicitems{{ query }}">Magic Items</a></h2>
    {% endif %}
    {% if documentation %}
    <hr>
    <h1>Rules</h1>
    <h2><a href="documentation/character-progression{{ query }}">Character Progression</h2>
    <h2><a href="documentation/character-details{{ query }}">Character Details</a></h2>
    <h2><a href="documentation/expenses{{ query }}">Expenses</a></h2>
    <h2><a href="documentation/abilities{{ query }}">Ability Scores</a></h2>
    <h2><a href="documentation/adventuring{{ query }}">Adventuring</a></h2>
    <h2><a href="documentation/combat{{ query }}">Combat</a></h2>
    <h2><a href="documentation/multiclassing{{ query }}">Multiclassing</a></h2>
    {% endif %}
    {% if optionalrules %}
    <hr>
    <h1>Optional Rules</h1>
    <ul>
        {% for rule in optionalrules %}
        <li><a href="{{ rule[1] }}">{{ rule[0] }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
