#main-sheet {
    display: initial;
    background-image: url("../images/Character_Sheet_Angular.png");
    background-size: 100% 100%;
}

#cp, #sp, #ep, #gp, #pp, #qp {
    display: none;
}

#name {
    top: 75px;
    left: 55px;
    width: 280px;
    font-size: 30px;
}

#class, #background, #player {
    top: 62px;
}

#race, #alignment, #experience {
    top: 96px;
}

#level, #to-next {
    top: 132px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

#class, #race {
    left: 352px;
    width: 146px;
}

#background, #alignment, #level {
    left: 500px;
    width: 124px;
}

#player, #experience, #to-next {
    left: 626px;
    width: 115px;
}

#level-container::after, #to-next-container::after {
    position: absolute;
    top: 152px;
    font-size: 9px;
}

#level-container::after {
    content: "LEVEL";
    left: 501px;
}

#to-next-container::after {
    content: "TO NEXT";
    left: 627px;
}

#str, #dex, #con, #int, #wis, #cha {
    text-align: center;
    left: 45px;
    width: 73px;
    font-size: 27px;
}

#str {
    top: 283px;
}

#dex {
    top: 372px;
}

#con {
    top: 461px;
}

#int {
    top: 550px;
}

#wis {
    top: 639px;
}

#cha {
    top: 728px;
}

#strmod, #dexmod, #conmod, #intmod, #wismod, #chamod {
    text-align: center;
    left: 46px;
    width: 71px;
    font-size: 15px;
}

#strmod {
    top: 260px;
}

#dexmod {
    top: 349px;
}

#conmod {
    top: 438px;
}

#intmod {
    top: 527px;
}

#wismod {
    top: 616px;
}

#chamod {
    top: 705px;
}

#proficiency {
    text-align: center;
    top: 180px;
    left: 63px;
    width: 37px;
    font-size: 23px;
}

#inspiration {
    top: 223px;
    left: 74px;
}

#strsave, #dexsave, #consave, #intsave, #wissave, #chasave,
#acrobatics, #animal-handling, #arcana, #athletics, #deception,
#history, #insight, #intimidation, #investigation, #medicine,
#nature, #perception, #performance, #persuasion, #religion,
#sleight-of-hand, #stealth, #survival {
    width: 14px;
    left: 131px;
}

#strsave-value, #dexsave-value, #consave-value, #intsave-value,
#wissave-value, #chasave-value, #acrobatics-value, #animal-handling-value,
#arcana-value, #athletics-value, #deception-value, #history-value,
#insight-value, #intimidation-value, #investigation-value, #medicine-value,
#nature-value, #perception-value, #performance-value, #persuasion-value,
#religion-value, #sleight-of-hand-value, #stealth-value, #survival-value {
    width: 14px;
    left: 147px;
    font-size: 8px;
    color: black;
}

#strsave, #strsave-value {
    top: 260px;
}

#dexsave, #dexsave-value {
    top: 349px;
}

#consave, #consave-value {
    top: 438px;
}

#intsave, #intsave-value {
    top: 527px;
}

#wissave, #wissave-value {
    top: 616px;
}

#chasave, #chasave-value {
    top: 705px;
}

#acrobatics, #acrobatics-value {
    top: 361px;
}

#animal-handling, #animal-handling-value {
    top: 628px;
}

#arcana, #arcana-value {
    top: 539px;
}

#athletics, #athletics-value {
    top: 272px;
}

#deception, #deception-value {
    top: 718px;
}

#history, #history-value {
    top: 552px;
}

#insight, #insight-value {
    top: 641px;
}

#intimidation, #intimidation-value {
    top: 730px;
}

#investigation, #investigation-value {
    top: 564px;
}

#medicine, #medicine-value {
    top: 653px;
}

#nature, #nature-value {
    top: 577px;
}

#perception, #perception-value {
    top: 666px;
}

#performance, #performance-value {
    top: 743px;
}

#persuasion, #persuasion-value {
    top: 755px;
}

#religion, #religion-value {
    top: 589px;
}

#sleight-of-hand, #sleight-of-hand-value {
    top: 374px;
}

#stealth, #stealth-value {
    top: 386px;
}

#survival, #survival-value {
    top: 678px;
}

#passive-perception {
    text-align: center;
    top: 790px;
    left: 61px;
    width: 41px;
    font-size: 19px;
}

#proficiencies, #languages {
    border: 0px solid black;
    border-radius: 0px;
    top: 844px;
    width: 108px;
    height: 140px;
}

#proficiencies {
    border-right-width: 1px;
    left: 40px;
}

#languages {
    border-left-width: 1px;
    left: 152px;
}

#ac {
    text-align: center;
    top: 190px;
    left: 298px;
    width: 49px;
    font-size: 22px;
}

#initiative {
    text-align: center;
    top: 192px;
    left: 368px;
    width: 56px;
    font-size: 22px;
}

#speed {
    text-align: center;
    top: 192px;
    left: 444px;
    width: 57px;
    font-size: 22px;
}

#max-hp {
    top: 259px;
    left: 392px;
    width: 107px;
    font-size: 10px;
}

#current-hp, #temporary-hp {
    left: 295px;
    width: 204px;
    font-size: 12px;
}

#current-hp {
    top: 274px;
    height: 40px;
}

#temporary-hp {
    top: 348px;
    height: 40px;
}

#total-hit-dice {
    top: 416px;
    left: 323px;
    width: 60px;
    font-size: 9px;
}

#hit-dice {
    top: 430px;
    left: 298px;
    width: 86px;
    height: 26px;
    font-size: 10px;
}

#s1, #s2, #s3, #f1, #f2, #f3 {
    width: 14px;
}

#s1, #s2, #s3 {
    top: 420px;
}

#f1, #f2, #f3 {
    top: 439px;
}

#s1, #f1 {
    left: 451px;
}

#s2, #f2 {
    left: 468px;
}

#s3, #f3 {
    left: 485px;
}

#attack-1-name, #attack-1-bonus, #attack-1-damage,
#attack-2-name, #attack-2-bonus, #attack-2-damage,
#attack-3-name, #attack-3-bonus, #attack-3-damage {
    font-size: 15px;
}

#attack-1-name, #attack-1-bonus, #attack-1-damage {
    top: 512px;
}

#attack-2-name, #attack-2-bonus, #attack-2-damage {
    top: 539px;
}

#attack-3-name, #attack-3-bonus, #attack-3-damage {
    top: 566px;
}

#attack-1-name, #attack-2-name, #attack-3-name {
    left: 291px;
    width: 85px;
}

#attack-1-bonus, #attack-2-bonus, #attack-3-bonus {
    text-align: center;
    left: 383px;
    width: 39px;
}

#attack-1-damage, #attack-2-damage, #attack-3-damage {
    left: 430px;
    width: 77px;
}

#attacks {
    top: 586px;
    left: 286px;
    width: 222px;
    height: 225px;
    font-size: 11px;
}

#equipment, #notes {
    top: 843px;
    height: 140px;
    font-size: 11px;
}

#equipment {
    left: 286px;
    width: 232px;
}

#notes {
    left: 524px;
    width: 231px;
}

#personality-traits,
#ideals,
#bonds,
#flaws {
    left: 542px;
    width: 204px;
    height: 43px;
    font-size: 13px;
}

#personality-traits {
    top: 179px;
    height: 60px;
}

#ideals {
    top: 270px;
}

#bonds {
    top: 342px;
}

#flaws {
    top: 414px;
}

#features, #traits {
    left: 534px;
    width: 222px;
    border: 0px solid black;
    border-radius: 0px;
}

#features {
    border-bottom-width: 1px;
    top: 499px;
    height: 211px;
}

#traits {
    border-top-width: 1px;
    top: 714px;
    height: 96px;
}
