body {
    background-color: #ddd;
    background-image: url("../images/wood1.png");
    background-repeat: repeat;
}

div {
    background-color: #fff;
}

.button {
    background-color: #ddd;
    padding: 3px;
    margin: 1px;
    border: 2px outset #555;
    border-radius: 10px;
}

.button:active {
    border-style: inset;
    background-color: #55f;
    border-color: #55f;
}

.home {
    float: left;
}

.save {
    position: absolute;
    font-size: 16px;
    background-color: RGBA(255, 255, 255, 0);
    border: 1px solid RGBA(200, 200, 200, 0);
    /*border: 1px solid RGBA(200, 200, 200, 1);/**/
}

input.save[type="checkbox"] {
    opacity: 0;
}

input.save[type="checkbox"]:checked {
    opacity: 1;
}

input {
    padding: 0px;
    margin: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea.save {
    resize: none;
    font-size: 12px;
}

#fileselect {
    float: left;
    padding: 1px;
    margin-left: 20px;
}

#save {
    float: right;
}

#body, #controls {
    width: 808px;
    padding: 1px;
    margin: 10px auto 0px;
    border: 1px solid black;
}

#controls::after, #body::after,
#controls::before, #body::before {
    content: "";
    display: table;
}

#controls::after, #body::after {
    clear: both;
}

#body {
    background-color: white;
    width: 800px;
    /*height: 3105px;*/
    padding: 5px;
    margin: 0px auto 10px;
    border: 1px solid black;
    position: relative;
    top: 0px;
    left: 0px;
}

#main-sheet,
#spells-sheet,
#background-sheet,
#equipment-sheet {
    width: 800px;
    height: 1035px;
    position: relative;
    display: none;
    float: left;
}

#main-img,
#spells-img,
#background-img,
#equipment-img {
    width: 800px;
    height: 1035px;
    position: absolute;
    /*top: 0px;
    left: 0px;*/
}

@media only screen and (min-width: 1610px) {
    #body {
        width: 1600px;
        /*height: 2070px;*/
    }
}

@media only screen and (min-width: 2410px) {
    #body {
        width: 2400px;
        /*height: 1035px;*/
    }
}

@media only screen and (min-width: 3210px) {
    #body {
        width: 3200px;
        /*height: 1035px;*/
    }
}
