body {
    background-color: #ddd;
    background-image: url("../images/wood1.png");
    background-repeat: repeat;
}

div {
    background-color: #fff;
}

.button {
    background-color: #ddd;
    padding: 3px;
    margin: 1px;
    border: 2px outset #555;
    border-radius: 10px;
}

.button:active {
    border-style: inset;
    background-color: #55f;
    border-color: #55f;
}

.save {
    position: absolute;
    font-size: 16px;
    background-color: RGBA(255, 255, 255, 0);
    border: 1px solid RGBA(200, 200, 200, 0);
    /*border: 1px solid RGBA(200, 200, 200, 1);/**/
}

#main-sheet output,
#spells-sheet output,
#background-sheet output,
#equipment-sheet output {
    position: absolute;
}

input.save[type="checkbox"] {
    opacity: 0;
}

input.save[type="checkbox"]:checked {
    opacity: 1;
}

input {
    padding: 0px;
    margin: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea.save {
    resize: none;
    font-size: 12px;
}

#fileselect {
    float: left;
    padding: 1px;
    margin-left: 20px;
}

.nav {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.nav > :last-child:not(:only-child) {
    margin-left: auto;
}

#body, #controls {
    width: 808px;
    padding: 1px;
    margin: 10px auto 0px;
    border: 1px solid black;
}

#body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
    width: 800px;
    padding: 5px;
    margin: 0px auto 10px;
    border: 1px solid black;
    position: relative;
    top: 0px;
    left: 0px;
}

#main-sheet,
#spells-sheet,
#background-sheet,
#equipment-sheet {
    width: 800px;
    height: 1035px;
    position: relative;
    display: none;
}

@media only screen and (min-width: 1610px) {
    #body {
        width: 1600px;
    }
}

@media only screen and (min-width: 2410px) {
    #body {
        width: 2400px;
    }
}

/*@media only screen and (min-width: 3210px) {
    #body {
        width: 3200px;
    }
}*/

@media only print {
    body {
        background-color: white;
        background-image: none;
    }

    #body {
        display: flex;
        flex-flow: column nowrap;
        border-width: 0;
        margin: 0;
    }

    #body > * {
        page-break-before: always;
    }

    #body > * output, #body > * input.save:placeholder-shown {
        visibility: hidden;
    }

    .nav {
        display: none;
    }
}
