#spells-sheet {
    display: initial;
    background-image: url("../images/Character_Sheet_Spells.png");
    background-size: 100% 100%;
}

#spellclass-name {
    top: 79px;
    left: 56px;
    width: 283px;
    font-size: 30px;
}

#spellcasting-ability, #spell-save, #spell-attack {
    text-align: center;
    top: 72px;
    width: 85px;
    font-size: 26px;
}

#spellcasting-ability {
    left: 370px;
}

#spell-save {
    left: 501px;
}

#spell-attack {
    left: 636px;
}

.spell-prepared-left, .spell-prepared-center, .spell-prepared-right {
    width: 14px;
}

.spell-prepared-left {
    left: 39px;
}

.spell-prepared-center {
    left: 286px;
}

.spell-prepared-right {
    left: 530px;
}

#spell-3-1-prepared, #spell-6-1-prepared {
    top: 230px;
}

#spell-3-2-prepared, #spell-6-2-prepared {
    top: 248px;
}

#spell-3-3-prepared, #spell-6-3-prepared {
    top: 266px;
}

#spell-3-4-prepared, #spell-6-4-prepared {
    top: 285px;
}

#spell-3-5-prepared, #spell-6-5-prepared {
    top: 303px;
}

#spell-3-6-prepared, #spell-6-6-prepared {
    top: 321px;
}

#spell-3-7-prepared, #spell-6-7-prepared {
    top: 340px;
}

#spell-3-8-prepared, #spell-6-8-prepared {
    top: 358px;
}

#spell-3-9-prepared, #spell-6-9-prepared {
    top: 376px;
}

#spell-3-10-prepared {
    top: 394px;
}

#spell-3-11-prepared {
    top: 413px;
}

#spell-3-12-prepared {
    top: 431px;
}

#spell-1-1-prepared, #spell-3-13-prepared, #spell-7-1-prepared {
    top: 451px;
}

#spell-1-2-prepared, #spell-7-2-prepared {
    top: 471px;
}

#spell-1-3-prepared, #spell-7-3-prepared {
    top: 489px;
}

#spell-1-4-prepared, #spell-7-4-prepared {
    top: 507px;
}

#spell-1-5-prepared, #spell-4-1-prepared, #spell-7-5-prepared {
    top: 526px;
}

#spell-1-6-prepared, #spell-4-2-prepared, #spell-7-6-prepared {
    top: 544px;
}

#spell-1-7-prepared, #spell-4-3-prepared, #spell-7-7-prepared {
    top: 563px;
}

#spell-1-8-prepared, #spell-4-4-prepared, #spell-7-8-prepared {
    top: 581px;
}

#spell-1-9-prepared, #spell-4-5-prepared, #spell-7-9-prepared {
    top: 599px;
}

#spell-1-10-prepared, #spell-4-6-prepared {
    top: 617px;
}

#spell-1-11-prepared, #spell-4-7-prepared {
    top: 635px;
}

#spell-1-12-prepared, #spell-4-8-prepared {
    top: 653px;
}

#spell-1-13-prepared, #spell-4-9-prepared, #spell-8-1-prepared {
    top: 672px;
}

#spell-4-10-prepared, #spell-8-2-prepared {
    top: 691px;
}

#spell-4-11-prepared, #spell-8-3-prepared {
    top: 708px;
}

#spell-4-12-prepared, #spell-8-4-prepared {
    top: 727px;
}

#spell-2-1-prepared, #spell-4-13-prepared, #spell-8-5-prepared {
    top: 747px;
}

#spell-2-2-prepared, #spell-8-6-prepared {
    top: 766px;
}

#spell-2-3-prepared, #spell-8-7-prepared {
    top: 784px;
}

#spell-2-4-prepared {
    top: 803px;
}

#spell-2-5-prepared, #spell-5-1-prepared {
    top: 821px;
}

#spell-2-6-prepared, #spell-5-2-prepared {
    top: 840px;
}

#spell-2-7-prepared, #spell-5-3-prepared, #spell-9-1-prepared {
    top: 858px;
}

#spell-2-8-prepared, #spell-5-4-prepared, #spell-9-2-prepared {
    top: 876px;
}

#spell-2-9-prepared, #spell-5-5-prepared, #spell-9-3-prepared {
    top: 894px;
}

#spell-2-10-prepared, #spell-5-6-prepared, #spell-9-4-prepared {
    top: 912px;
}

#spell-2-11-prepared, #spell-5-7-prepared, #spell-9-5-prepared {
    top: 930px;
}

#spell-2-12-prepared, #spell-5-8-prepared, #spell-9-6-prepared {
    top: 949px;
}

#spell-2-13-prepared, #spell-5-9-prepared, #spell-9-7-prepared {
    top: 967px;
}

.spell-left, .spell-center, .spell-right {
    width: 212px;
    font-size: 12px;
}

.spell-left {
    left: 53px;
}

.spell-center {
    left: 300px;
}

.spell-right {
    left: 544px;
}

#spell-C-1, #spell-3-1, #spell-6-1 {
    top: 226px;
}

#spell-C-2, #spell-3-2, #spell-6-2 {
    top: 244px;
}

#spell-C-3, #spell-3-3, #spell-6-3 {
    top: 262px;
}

#spell-C-4, #spell-3-4, #spell-6-4 {
    top: 281px;
}

#spell-C-5, #spell-3-5, #spell-6-5 {
    top: 299px;
}

#spell-C-6, #spell-3-6, #spell-6-6 {
    top: 317px;
}

#spell-C-7, #spell-3-7, #spell-6-7 {
    top: 336px;
}

#spell-C-8, #spell-3-8, #spell-6-8 {
    top: 354px;
}

#spell-3-9, #spell-6-9 {
    top: 372px;
}

#spell-3-10 {
    top: 390px;
}

#spell-3-11 {
    top: 409px;
}

#spell-3-12 {
    top: 428px;
}

#spell-1-1, #spell-3-13, #spell-7-1 {
    top: 448px;
}

#spell-1-2, #spell-7-2 {
    top: 467px;
}

#spell-1-3, #spell-7-3 {
    top: 485px;
}

#spell-1-4, #spell-7-4 {
    top: 503px;
}

#spell-1-5, #spell-4-1, #spell-7-5 {
    top: 522px;
}

#spell-1-6, #spell-4-2, #spell-7-6 {
    top: 540px;
}

#spell-1-7, #spell-4-3, #spell-7-7 {
    top: 559px;
}

#spell-1-8, #spell-4-4, #spell-7-8 {
    top: 577px;
}

#spell-1-9, #spell-4-5, #spell-7-9 {
    top: 595px;
}

#spell-1-10, #spell-4-6 {
    top: 613px;
}

#spell-1-11, #spell-4-7 {
    top: 631px;
}

#spell-1-12, #spell-4-8 {
    top: 649px;
}

#spell-1-13, #spell-4-9, #spell-8-1 {
    top: 669px;
}

#spell-4-10, #spell-8-2 {
    top: 687px;
}

#spell-4-11, #spell-8-3 {
    top: 705px;
}

#spell-4-12, #spell-8-4 {
    top: 724px;
}

#spell-2-1, #spell-4-13, #spell-8-5 {
    top: 743px;
}

#spell-2-2, #spell-8-6 {
    top: 763px;
}

#spell-2-3, #spell-8-7 {
    top: 781px;
}

#spell-2-4 {
    top: 800px;
}

#spell-2-5, #spell-5-1 {
    top: 818px;
}

#spell-2-6, #spell-5-2 {
    top: 837px;
}

#spell-2-7, #spell-5-3, #spell-9-1 {
    top: 855px;
}

#spell-2-8, #spell-5-4, #spell-9-2 {
    top: 873px;
}

#spell-2-9, #spell-5-5, #spell-9-3 {
    top: 891px;
}

#spell-2-10, #spell-5-6, #spell-9-4 {
    top: 909px;
}

#spell-2-11, #spell-5-7, #spell-9-5 {
    top: 927px;
}

#spell-2-12, #spell-5-8, #spell-9-6 {
    top: 945px;
}

#spell-2-13, #spell-5-9, #spell-9-7 {
    top: 963px;
}

#slots-total-1, #slots-total-2, #slots-total-3,
#slots-total-4, #slots-total-5, #slots-total-6,
#slots-total-7, #slots-total-8, #slots-total-9 {
    text-align: center;
    width: 57px;
    font-size: 26px;
}

#slots-total-1, #slots-total-2 {
    left: 65px;
}

#slots-total-3, #slots-total-4, #slots-total-5 {
    left: 312px;
}

#slots-total-6, #slots-total-7,
#slots-total-8, #slots-total-9 {
    left: 557px;
}

#slots-total-1 {
    top: 407px;
}

#slots-total-2 {
    top: 705px;
}

#slots-total-3, #slots-total-6 {
    top: 187px;
}

#slots-total-4 {
    top: 482px;
}

#slots-total-5 {
    top: 778px;
}

#slots-total-7 {
    top: 409px;
}

#slots-total-8 {
    top: 631px;
}

#slots-total-9 {
    top: 815px;
}

#slots-expended-1, #slots-expended-2, #slots-expended-3,
#slots-expended-4, #slots-expended-5, #slots-expended-6,
#slots-expended-7, #slots-expended-8, #slots-expended-9 {
    width: 125px;
    font-size: 20px;
}

#slots-expended-1, #slots-expended-2 {
    left: 135px;
}

#slots-expended-3, #slots-expended-4, #slots-expended-5 {
    left: 382px;
}

#slots-expended-6, #slots-expended-7,
#slots-expended-8, #slots-expended-9 {
    left: 627px;
}

#slots-expended-1 {
    top: 410px;
}

#slots-expended-2 {
    top: 709px;
}

#slots-expended-3, #slots-expended-6 {
    top: 191px;
}

#slots-expended-4 {
    top: 486px;
}

#slots-expended-5 {
    top: 782px;
}

#slots-expended-7 {
    top: 413px;
}

#slots-expended-8 {
    top: 635px;
}

#slots-expended-9 {
    top: 819px;
}
