#main-sheet {
    display: initial;
    background-image: url("../images/Character_Sheet.png");
    background-size: 100% 100%;
}

#notes {
    display: none;
}

#name {
    top: 75px;
    left: 55px;
    width: 280px;
    font-size: 30px;
}

#class, #background, #player {
    top: 62px;
}

#race, #alignment, #experience {
    top: 96px;
}

#level, #to-next {
    top: 132px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

#class, #race {
    left: 352px;
    width: 146px;
}

#background, #alignment, #level {
    left: 500px;
    width: 124px;
}

#player, #experience, #to-next {
    left: 626px;
    width: 115px;
}

#level-container::after, #to-next-container::after {
    position: absolute;
    top: 152px;
    font-size: 9px;
}

#level-container::after {
    content: "LEVEL";
    left: 501px;
}

#to-next-container::after {
    content: "TO NEXT";
    left: 627px;
}

#str, #dex, #con, #int, #wis, #cha {
    text-align: center;
    left: 45px;
    width: 57px;
    font-size: 28px;
}

#str {
    top: 202px;
}

#dex {
    top: 296px;
}

#con {
    top: 389px;
}

#int {
    top: 483px;
}

#wis {
    top: 577px;
}

#cha {
    top: 670px;
}

#strmod, #dexmod, #conmod, #intmod, #wismod, #chamod {
    text-align: center;
    left: 46px;
    width: 57px;
    font-size: 15px;
    /*border: 1px solid black;/**/
}

#strmod {
    top: 243px;
}

#dexmod {
    top: 337px;
}

#conmod {
    top: 430px;
}

#intmod {
    top: 524px;
}

#wismod {
    top: 617px;
}

#chamod {
    top: 710px;
}

#inspiration {
    top: 175px;
    left: 133px;
}

#proficiency {
    text-align: center;
    top: 218px;
    left: 123px;
    width: 34px;
    font-size: 22px;
}

#strsave, #dexsave, #consave, #intsave, #wissave, #chasave,
#acrobatics, #animal-handling, #arcana, #athletics, #deception,
#history, #insight, #intimidation, #investigation, #medicine,
#nature, #perception, #performance, #persuasion, #religion,
#sleight-of-hand, #stealth, #survival {
    width: 14px;
    left: 130px;
}

#strsave-value, #dexsave-value, #consave-value, #intsave-value,
#wissave-value, #chasave-value, #acrobatics-value, #animal-handling-value,
#arcana-value, #athletics-value, #deception-value, #history-value,
#insight-value, #intimidation-value, #investigation-value, #medicine-value,
#nature-value, #perception-value, #performance-value, #persuasion-value,
#religion-value, #sleight-of-hand-value, #stealth-value, #survival-value {
    width: 20px;
    left: 146px;
    font-size: 12px;
    height: 12px;
}

#strsave {
    top: 268px;
}

#strsave-value {
    top: 266px;
}

#dexsave {
    top: 285px;
}

#dexsave-value {
    top: 283px;
}

#consave {
    top: 303px;
}

#consave-value {
    top: 301px;
}

#intsave {
    top: 321px;
}

#intsave-value {
    top: 319px;
}

#wissave {
    top: 339px;
}

#wissave-value {
    top: 337px;
}

#chasave {
    top: 356px;
}

#chasave-value {
    top: 354px;
}

#acrobatics {
    top: 418px;
}

#acrobatics-value {
    top: 416px;
}

#animal-handling {
    top: 436px;
}

#animal-handling-value {
    top: 434px;
}

#arcana {
    top: 454px;
}

#arcana-value {
    top: 452px;
}

#athletics {
    top: 471px;
}

#athletics-value {
    top: 469px;
}

#deception {
    top: 489px;
}

#deception-value {
    top: 487px;
}

#history {
    top: 507px;
}

#history-value {
    top: 505px;
}

#insight {
    top: 524px;
}

#insight-value {
    top: 522px;
}

#intimidation {
    top: 542px;
}

#intimidation-value {
    top: 540px;
}

#investigation {
    top: 559px;
}

#investigation-value {
    top: 557px;
}

#medicine {
    top: 577px;
}

#medicine-value {
    top: 575px;
}

#nature {
    top: 595px;
}

#nature-value {
    top: 593px;
}

#perception {
    top: 612px;
}

#perception-value {
    top: 610px;
}

#performance {
    top: 630px;
}

#performance-value {
    top: 628px;
}

#persuasion {
    top: 648px;
}

#persuasion-value {
    top: 646px;
}

#religion {
    top: 665px;
}

#religion-value {
    top: 663px;
}

#sleight-of-hand {
    top: 683px;
}

#sleight-of-hand-value {
    top: 681px;
}

#stealth {
    top: 701px;
}

#stealth-value {
    top: 699px;
}

#survival {
    top: 719px;
}

#survival-value {
    top: 717px;
}

#passive-perception {
    text-align: center;
    top: 772px;
    left: 38px;
    width: 34px;
    font-size: 16px;
    height: 16px;
}

#proficiencies, #languages {
    border: 0px solid black;
    border-radius: 0px;
    top: 814px;
    width: 108px;
    height: 170px;
}

#proficiencies {
    border-right-width: 1px;
    left: 40px;
}

#languages {
    border-left-width: 1px;
    left: 152px;
}

#ac {
    text-align: center;
    top: 187px;
    left: 298px;
    width: 48px;
    font-size: 22px;
}

#initiative {
    text-align: center;
    top: 190px;
    left: 368px;
    width: 56px;
    font-size: 22px;
    height: 22px;
}

#speed {
    text-align: center;
    top: 190px;
    left: 444px;
    width: 57px;
    font-size: 22px;
}

#max-hp {
    top: 256px;
    left: 380px;
    width: 115px;
    font-size: 12px;
}

#current-hp, #temporary-hp {
    left: 295px;
    width: 204px;
    font-size: 12px;
}

#current-hp {
    top: 273px;
    height: 40px;
}

#temporary-hp {
    top: 340px;
    height: 42px;
}

#total-hit-dice {
    top: 416px;
    left: 323px;
    width: 60px;
    font-size: 9px;
}

#hit-dice {
    top: 430px;
    left: 298px;
    width: 86px;
    height: 26px;
    font-size: 10px;
}

#s1, #s2, #s3, #f1, #f2, #f3 {
    width: 14px;
}

#s1, #s2, #s3 {
    top: 419px;
}

#f1, #f2, #f3 {
    top: 439px;
}

#s1, #f1 {
    left: 451px;
}

#s2, #f2 {
    left: 468px;
}

#s3, #f3 {
    left: 485px;
}

#attack-1-name, #attack-1-bonus, #attack-1-damage,
#attack-2-name, #attack-2-bonus, #attack-2-damage,
#attack-3-name, #attack-3-bonus, #attack-3-damage {
    font-size: 17px;
}

#attack-1-name, #attack-1-bonus, #attack-1-damage {
    top: 511px;
}

#attack-2-name, #attack-2-bonus, #attack-2-damage {
    top: 538px;
}

#attack-3-name, #attack-3-bonus, #attack-3-damage {
    top: 565px;
}

#attack-1-name, #attack-2-name, #attack-3-name {
    left: 292px;
    width: 81px;
}

#attack-1-bonus, #attack-2-bonus, #attack-3-bonus {
    text-align: center;
    left: 380px;
    width: 40px;
}

#attack-1-damage, #attack-2-damage, #attack-3-damage {
    left: 427px;
    width: 80px;
}

#attacks {
    top: 587px;
    left: 286px;
    width: 222px;
    height: 151px;
}

#cp, #sp, #ep, #gp, #pp, #qp {
    text-align: center;
    left: 296px;
    width: 44px;
}

#cp {
    top: 783px;
}

#sp {
    top: 817px;
}

#ep {
    top: 851px;
}

#gp {
    top: 885px;
}

#pp {
    top: 919px;
}

#qp {
    top: 956px;
}

#equipment {
    top: 770px;
    left: 347px;
    width: 160px;
    height: 212px;
}

#personality-traits,
#ideals,
#bonds,
#flaws {
    left: 542px;
    width: 204px;
    height: 43px;
    font-size: 13px;
}

#personality-traits {
    top: 179px;
    height: 60px;
}

#ideals {
    top: 270px;
}

#bonds {
    top: 342px;
}

#flaws {
    top: 414px;
}

#features, #traits {
    left: 533px;
    width: 224px;
    border: 0px solid black;
    border-radius: 0px;
}

#features {
    border-bottom-width: 1px;
    top: 498px;
    height: 313px;
}

#traits {
    border-top-width: 1px;
    top: 815px;
    height: 168px;
}
