img#spells-img {
    content:url("images/Character_Sheet_Spells.png");
}

#spellclass-name {
    top: 80px;
    left: 56px;
    width: 283px;
    font-size: 30px;
}

#spellcasting-ability, #spell-save, #spell-attack {
    text-align: center;
    top: 73px;
    width: 85px;
    font-size: 26px;
}

#spellcasting-ability {
    left: 370px;
}

#spell-save {
    left: 501px;
}

#spell-attack {
    left: 636px;
}

.spell-prepared-left, .spell-prepared-center, .spell-prepared-right {
    width: 14px;
}

.spell-prepared-left {
    left: 39px;
}

.spell-prepared-center {
    left: 286px;
}

.spell-prepared-right {
    left: 530px;
}

#spell-3-1-prepared, #spell-6-1-prepared {
    top: 231px;
}

#spell-3-2-prepared, #spell-6-2-prepared {
    top: 249px;
}

#spell-3-3-prepared, #spell-6-3-prepared {
    top: 267px;
}

#spell-3-4-prepared, #spell-6-4-prepared {
    top: 286px;
}

#spell-3-5-prepared, #spell-6-5-prepared {
    top: 304px;
}

#spell-3-6-prepared, #spell-6-6-prepared {
    top: 322px;
}

#spell-3-7-prepared, #spell-6-7-prepared {
    top: 341px;
}

#spell-3-8-prepared, #spell-6-8-prepared {
    top: 359px;
}

#spell-3-9-prepared, #spell-6-9-prepared {
    top: 377px;
}

#spell-3-10-prepared {
    top: 395px;
}

#spell-3-11-prepared {
    top: 414px;
}

#spell-3-12-prepared {
    top: 432px;
}

#spell-1-1-prepared, #spell-3-13-prepared, #spell-7-1-prepared {
    top: 452px;
}

#spell-1-2-prepared, #spell-7-2-prepared {
    top: 472px;
}

#spell-1-3-prepared, #spell-7-3-prepared {
    top: 490px;
}

#spell-1-4-prepared, #spell-7-4-prepared {
    top: 508px;
}

#spell-1-5-prepared, #spell-4-1-prepared, #spell-7-5-prepared {
    top: 527px;
}

#spell-1-6-prepared, #spell-4-2-prepared, #spell-7-6-prepared {
    top: 545px;
}

#spell-1-7-prepared, #spell-4-3-prepared, #spell-7-7-prepared {
    top: 564px;
}

#spell-1-8-prepared, #spell-4-4-prepared, #spell-7-8-prepared {
    top: 582px;
}

#spell-1-9-prepared, #spell-4-5-prepared, #spell-7-9-prepared {
    top: 600px;
}

#spell-1-10-prepared, #spell-4-6-prepared {
    top: 618px;
}

#spell-1-11-prepared, #spell-4-7-prepared {
    top: 636px;
}

#spell-1-12-prepared, #spell-4-8-prepared {
    top: 654px;
}

#spell-1-13-prepared, #spell-4-9-prepared, #spell-8-1-prepared {
    top: 673px;
}

#spell-4-10-prepared, #spell-8-2-prepared {
    top: 692px;
}

#spell-4-11-prepared, #spell-8-3-prepared {
    top: 709px;
}

#spell-4-12-prepared, #spell-8-4-prepared {
    top: 728px;
}

#spell-2-1-prepared, #spell-4-13-prepared, #spell-8-5-prepared {
    top: 748px;
}

#spell-2-2-prepared, #spell-8-6-prepared {
    top: 767px;
}

#spell-2-3-prepared, #spell-8-7-prepared {
    top: 785px;
}

#spell-2-4-prepared {
    top: 804px;
}

#spell-2-5-prepared, #spell-5-1-prepared {
    top: 822px;
}

#spell-2-6-prepared, #spell-5-2-prepared {
    top: 841px;
}

#spell-2-7-prepared, #spell-5-3-prepared, #spell-9-1-prepared {
    top: 859px;
}

#spell-2-8-prepared, #spell-5-4-prepared, #spell-9-2-prepared {
    top: 877px;
}

#spell-2-9-prepared, #spell-5-5-prepared, #spell-9-3-prepared {
    top: 895px;
}

#spell-2-10-prepared, #spell-5-6-prepared, #spell-9-4-prepared {
    top: 913px;
}

#spell-2-11-prepared, #spell-5-7-prepared, #spell-9-5-prepared {
    top: 931px;
}

#spell-2-12-prepared, #spell-5-8-prepared, #spell-9-6-prepared {
    top: 950px;
}

#spell-2-13-prepared, #spell-5-9-prepared, #spell-9-7-prepared {
    top: 968px;
}

.spell-left, .spell-center, .spell-right {
    width: 212px;
    font-size: 12px;
}

.spell-left {
    left: 53px;
}

.spell-center {
    left: 300px;
}

.spell-right {
    left: 544px;
}

#spell-C-1, #spell-3-1, #spell-6-1 {
    top: 227px;
}

#spell-C-2, #spell-3-2, #spell-6-2 {
    top: 245px;
}

#spell-C-3, #spell-3-3, #spell-6-3 {
    top: 263px;
}

#spell-C-4, #spell-3-4, #spell-6-4 {
    top: 282px;
}

#spell-C-5, #spell-3-5, #spell-6-5 {
    top: 300px;
}

#spell-C-6, #spell-3-6, #spell-6-6 {
    top: 318px;
}

#spell-C-7, #spell-3-7, #spell-6-7 {
    top: 337px;
}

#spell-C-8, #spell-3-8, #spell-6-8 {
    top: 355px;
}

#spell-3-9, #spell-6-9 {
    top: 373px;
}

#spell-3-10 {
    top: 391px;
}

#spell-3-11 {
    top: 410px;
}

#spell-3-12 {
    top: 429px;
}

#spell-1-1, #spell-3-13, #spell-7-1 {
    top: 449px;
}

#spell-1-2, #spell-7-2 {
    top: 468px;
}

#spell-1-3, #spell-7-3 {
    top: 486px;
}

#spell-1-4, #spell-7-4 {
    top: 504px;
}

#spell-1-5, #spell-4-1, #spell-7-5 {
    top: 523px;
}

#spell-1-6, #spell-4-2, #spell-7-6 {
    top: 541px;
}

#spell-1-7, #spell-4-3, #spell-7-7 {
    top: 560px;
}

#spell-1-8, #spell-4-4, #spell-7-8 {
    top: 578px;
}

#spell-1-9, #spell-4-5, #spell-7-9 {
    top: 596px;
}

#spell-1-10, #spell-4-6 {
    top: 614px;
}

#spell-1-11, #spell-4-7 {
    top: 632px;
}

#spell-1-12, #spell-4-8 {
    top: 650px;
}

#spell-1-13, #spell-4-9, #spell-8-1 {
    top: 670px;
}

#spell-4-10, #spell-8-2 {
    top: 688px;
}

#spell-4-11, #spell-8-3 {
    top: 706px;
}

#spell-4-12, #spell-8-4 {
    top: 725px;
}

#spell-2-1, #spell-4-13, #spell-8-5 {
    top: 744px;
}

#spell-2-2, #spell-8-6 {
    top: 764px;
}

#spell-2-3, #spell-8-7 {
    top: 782px;
}

#spell-2-4 {
    top: 801px;
}

#spell-2-5, #spell-5-1 {
    top: 819px;
}

#spell-2-6, #spell-5-2 {
    top: 838px;
}

#spell-2-7, #spell-5-3, #spell-9-1 {
    top: 856px;
}

#spell-2-8, #spell-5-4, #spell-9-2 {
    top: 874px;
}

#spell-2-9, #spell-5-5, #spell-9-3 {
    top: 892px;
}

#spell-2-10, #spell-5-6, #spell-9-4 {
    top: 910px;
}

#spell-2-11, #spell-5-7, #spell-9-5 {
    top: 928px;
}

#spell-2-12, #spell-5-8, #spell-9-6 {
    top: 946px;
}

#spell-2-13, #spell-5-9, #spell-9-7 {
    top: 964px;
}

#slots-total-1, #slots-total-2, #slots-total-3,
#slots-total-4, #slots-total-5, #slots-total-6,
#slots-total-7, #slots-total-8, #slots-total-9 {
    text-align: center;
    width: 57px;
    font-size: 26px;
}

#slots-total-1, #slots-total-2 {
    left: 65px;
}

#slots-total-3, #slots-total-4, #slots-total-5 {
    left: 312px;
}

#slots-total-6, #slots-total-7,
#slots-total-8, #slots-total-9 {
    left: 557px;
}

#slots-total-1 {
    top: 408px;
}

#slots-total-2 {
    top: 706px;
}

#slots-total-3, #slots-total-6 {
    top: 188px;
}

#slots-total-4 {
    top: 483px;
}

#slots-total-5 {
    top: 779px;
}

#slots-total-7 {
    top: 410px;
}

#slots-total-8 {
    top: 632px;
}

#slots-total-9 {
    top: 816px;
}

#slots-expended-1, #slots-expended-2, #slots-expended-3,
#slots-expended-4, #slots-expended-5, #slots-expended-6,
#slots-expended-7, #slots-expended-8, #slots-expended-9 {
    width: 125px;
    font-size: 20px;
}

#slots-expended-1, #slots-expended-2 {
    left: 135px;
}

#slots-expended-3, #slots-expended-4, #slots-expended-5 {
    left: 382px;
}

#slots-expended-6, #slots-expended-7,
#slots-expended-8, #slots-expended-9 {
    left: 627px;
}

#slots-expended-1 {
    top: 411px;
}

#slots-expended-2 {
    top: 710px;
}

#slots-expended-3, #slots-expended-6 {
    top: 192px;
}

#slots-expended-4 {
    top: 487px;
}

#slots-expended-5 {
    top: 783px;
}

#slots-expended-7 {
    top: 414px;
}

#slots-expended-8 {
    top: 636px;
}

#slots-expended-9 {
    top: 820px;
}
